@font-face {
    font-family: 'logo';
    src: url('//2ttf.com/webfont/dIs8NKya/webfont.ttf') format('truetype');
}

body,
#logo {
    margin: 0;
    padding: 0;
}

#logo {
    font-size: 10vmin;
    font-family: 'Spicy Rice', cursive;
    font-weight: normal;
    text-align: center;
}

#playing-field {
    display: grid;
    grid-template-columns: repeat(3, 18vmin);
    grid-template-rows: repeat(4, 18vmin);
    grid-gap: 1vmin;
    justify-content: center;
}

#score {
    font-size: 3vmin;
    font-family: sans-serif;
    text-align: center;
}

.cell {
    /*outline: 0.01vmin solid black;*/
    background: url("img/hole.svg") no-repeat center bottom;
    background-size: contain;
    position: relative;
}

.builder-mole,
.nerd-mole,
.pirate-mole,
.hitbox-container,
.cell::after {
    width: 18vmin;
    height: 18vmin;
    position: absolute;
    top: 0;
    left: 0;
}

.builder-mole,
.nerd-mole,
.pirate-mole {
    background: no-repeat center 18vmin;
    background-size: contain;
}

.builder-mole {
    background-image: url("img/moles/builder.svg");
}

.nerd-mole {
    background-image: url("img/moles/nerd.svg");
}

.pirate-mole {
    background-image: url("img/moles/pirate.svg");
}

.hitbox {
    cursor: pointer;
    opacity: 0;
}

.cell::after {
    content: "";
    background: url("img/obstacle.svg") no-repeat center bottom;
    background-size: contain;
    pointer-events: none;
}