@font-face {
    font-family: 'logo';
    src: url('//2ttf.com/webfont/dIs8NKya/webfont.ttf') format('truetype');
}

body,
#logo {
    margin: 0;
    padding: 0;
}

#logo {
    font-size: 10vmin;
    font-family: 'Spicy Rice', cursive;
    font-weight: normal;
    text-align: center;
}

#playing-field {
    display: grid;
    grid-template-columns: repeat(3, 18vmin);
    grid-template-rows: repeat(4, 18vmin);
    grid-gap: 1vmin;
    justify-content: center;
}

.hole {
    /*outline: 0.01vmin solid black;*/
    background: url("img/hole.svg") no-repeat bottom center;
    background-size: contain;
}

.hole > img {
    width: 18vmin;
    height: 18vmin;
}

#score {
    font-size: 3vmin;
    font-family: sans-serif;
    text-align: center;
}

.builder-mole {
    background:
        url("img/moles/builder.svg") no-repeat bottom center,
        url("img/hole.svg") no-repeat bottom center;
    background-size: contain, contain;
    transition: background-position .25s ease-in-out;
}

.builder-mole:hover {
    background:
            url("img/moles/builder.svg") no-repeat center calc(18vmin * 2),
            url("img/hole.svg") no-repeat bottom center;
    background-size: contain, contain;
}